<div *ngIf="auth.user$ | async; else no_access">
    <div *ngIf="reservations && reservations.length > 0; else no_data">
        <app-reservation-item 
            *ngFor="let reservation of reservations" 
            [reservation]="reservation"
            [routerLink]="['/reservations/detail', reservation.id]">
        </app-reservation-item>
        <hr>
    </div>
    <button class="btn btn-dark" [routerLink]="['/reservations/new']">Nová rezervace</button>
</div>

<ng-template #no_access>
    <div class="reservations__message">Na tuto stránku nemáte práva!</div>
</ng-template> 

<ng-template #no_data>
    <div class="reservations__message">Neexistuje žádná rezervace. Zkuste vytvořit novou...</div>
</ng-template>
