<div *ngIf="auth.user$ | async; else no_access">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-dark reservations__add-button" [routerLink]="['/reservations/new']">Nová rezervace</button>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-3">
            <input class="reservations__search" type="text" [(ngModel)]="searchText" placeholder="Hledat...">
        </div>
    </div>
    <div *ngIf="reservations && reservations.length > 0; else no_data">
        <app-reservation-item 
            *ngFor="let reservation of reservations | filterReservations: searchText" 
            [reservation]="reservation"
            [routerLink]="['/reservations/detail', reservation.id]">
        </app-reservation-item>
    </div>
</div>

<ng-template #no_access>
    <div class="reservations__message">Na tuto stránku nemáte práva!</div>
</ng-template> 

<ng-template #no_data>
    <div class="reservations__message">Neexistuje žádná rezervace. Zkuste vytvořit novou...</div>
</ng-template>
