<div class="row justify-content-md-center">
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
</div>