<div class="row justify-content-md-center">
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
    INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE INTRO MESSAGE 
</div>

<div *ngIf="auth.user$ | async as user" class="text-center">
    <button class="btn btn-primary" [routerLink]="['/reservations']">Go to reservations</button>
</div>