<div *ngIf="reservation">
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="reservation.firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="reservation.lastName">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" [(ngModel)]="reservation.phone">
    </div>
    <div class="form-group">
        <label for="note">Note</label>
        <input type="text" class="form-control" id="note" [(ngModel)]="reservation.note">
    </div>

    <agm-map [latitude]='reservation.latitude' [longitude]='reservation.longitude' [mapTypeId]='"satellite"' [zoom]='20'>
        <agm-marker [latitude]="reservation.latitude" [longitude]="reservation.longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <br>
    <button class="btn btn-primary" (click)="updateReservation()">Update</button>
</div>