<div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName">
</div>
<div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName">
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" [(ngModel)]="phone">
</div>
<div class="form-group">
    <label for="note">Note</label>
    <input type="text" class="form-control" id="note" [(ngModel)]="note">
</div>

<agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='"satellite"' [zoom]='20'>
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>
<br>
<button class="btn btn-primary" (click)="createReservation()">Create</button>