<div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" [value]="firstName">
</div>
<div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" [value]="lastName">
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" [value]="phone">
</div>
<div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="text" class="form-control" id="latitude" [value]="latitude">
</div>
<div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="text" class="form-control" id="longitude" [value]="longitude">
</div>
<div class="form-group">
    <label for="note">Note</label>
    <input type="text" class="form-control" id="note" [value]="note">
</div>
<button class="btn btn-primary" (click)="createReservation()">Create</button>