@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

*:focus {
    outline: none;
}

.header {
    &__user-name {
       color: white;
       padding-right: 20px;
    }
}

.about {
    &__intro {
        padding-top: 20px;
        color: #343a40;
    }

    &__contact {
        font-size: 150%;
        padding-top: 20px;
        color: #343a40;
    }

    &__map {
        height: 300px;
    }
}

.reservations {
    &__message {
        padding-bottom: 20px;
    }

    &__add-button {
        margin-top: 20px;
    }

    &__search {
        border: 1px solid #343a40;
        border-radius: .25rem;
    }
}

.reservation-item {
    &__card {
        padding: 10px 0;
        margin: 10px 0;
        color: #343a40;
        box-shadow: -1px 3px #343a40;
        border: 1px solid #343a40;
        border-radius: .25rem;
        cursor: pointer;

        &:hover {
            box-shadow: -1px 5px #343a40;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: -1px 1px #343a40;
            transform: translateY(1px);
        }
    }
}

.reservation-detail {
    &__map {
        height: 500px;
    }

    &__map-wrapper {
        margin: 20px 0;
    }

    &__button {
        margin: 5px;
    }

    &__button-section {
        margin: 0 10px;
    }

    &__icon {
        width: 20px;
    }
}

.reservation-new {
    &__create-button {
        margin-top: 20px;
    }
}

.reservation-update {
    &__update-button {
        margin-top: 20px;
    }
}